





@media (min-width: 1441px) and (max-width: 2560px){
    .btn-icon {
        left: 60%;
    }
}
@media (min-width: 1221px) and (max-width: 1440px){
    .btn-icon {
        top: 64%;
        left: 68%;
    }
}
@media (min-width: 1025px) and (max-width: 1220px){
    .btn-icon {
        top: 64%;
        left: 68%;
    }
}
@media (min-width: 992px) and (max-width: 1024px){
    .btn-icon {
        top: 64%;
        left: 68%;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .navbar-light .navbar-nav .nav-link {
        margin: -5px;
    }
    .extra-heading ul {
        width: 90%;
    }
    .btn-icon {
        top: 64%;
        left: 62%;
    }
}
@media (min-width: 576px) and (max-width: 767px){
    .navbar-light .navbar-nav .nav-link {
        margin: -5px;
    }
    .extra-heading ul {
        width: 90%;
    }
    .btn-icon {
        top: 64%;
        left: 85%;
    }
}
@media (min-width: 376px) and (max-width: 575px){
    .btn-icon {
        top: 63%;
        left: 87%;
    }
    .extra-heading ul {
        width: 87%;
    }
    .navbar-light .navbar-nav .nav-link {
        margin: -5px;
    }
}
@media (min-width: 321px) and (max-width: 375px){
    .btn-icon {
        top: 62%;
        left: 79%;
    }
    .extra-heading ul {
        width: 90%;
    }
    .navbar-light .navbar-nav .nav-link {
        margin: -5px;
    }
}
@media (min-width: 0px) and (max-width: 320px){
    .navbar-light .navbar-nav .nav-link {
        color: #626262;
        text-transform: uppercase;
        margin: -5px;
    }
    .btn-icon {
        top: 68%;
        left: 76%;
    }
    .extra-heading ul {
        width: 90%;
    }
    
}


